.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main p,
.main h1 {
  text-align: center;
}

.main form.signup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 20px 0;
}

.main form.signup label {
  width: 250px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}